body {
    background-color: whitesmoke;
}

.box {
    border: 1px solid green;
    height: 250px;
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 8%;
    background: #973232;
}

.pizza {
    height: 50%;
    width: 31%; // x * 800px = 250px
    border-radius: 50%;
    background: #fbe4a5;
    position: absolute;
    left: 34.5%;
    top: 25%;
}

.sauce {
    height: 85%;
    width: 85%;
    border-radius: 50%;
    background: #fd7957;
    position: absolute;
    left: 7.5%; // 100-percentage of width and then divide by 2
    top: 7.5%; // 100-percentage of height and then divide by 2
}

.cheese {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 18%; // 
    top: 18%; // 
}

@media (min-width: 800px) {
    .box {
        height: 500px;
        width: 800px;
    }
    .cheese {
        background: green;
    }
}