html
  body
    .box
      .head
        .head-copy
        .ear-left
          .inner-ear
        .ear-right
          .inner-ear
        .eye-left
          .pupil
        .eye-right
          .pupil
        .nose
        .hair-left
        .hair-right
          