body {
    background-color: whitesmoke;
}

.box {
    border: 1px solid green;
    height: 500px;
    width: 800px;
    position: relative;
    margin: auto;
    margin-top: 8%;
    background: blue;
}