// colors
$lightpink: #FFE2F8;
// shapes
$circle: 50%;
$rounded-rectangle: 50px;
$triangle: polygon(50% 0%, 0% 100%, 100% 100%);
body {
    background: $lightpink;
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
    border: solid 3px white;
}

.head {
    position: absolute;
    top: 16.5%;
    left: 25%;
    width: 50%;
    height: 67%;
    background: #A6BECF;
    border-radius: $circle;
    outline: 1px dotted black;
}

.head-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #A6BECF;
    border-radius: $circle;
    z-index: 2;
}

.ear-left {
    position: absolute;
    width: 60%;
    height: 65%;
    left: -20%;
    top: 5%;
    background: yellow;
    border-radius: $circle;
    z-index: 1;
}

.ear-right {
    position: absolute;
    width: 60%;
    height: 65%;
    right: -20%;
    top: 5%;
    background: purple;
    border-radius: $circle;
    z-index: 1;
}

.inner-ear {
    position: absolute;
    background: green;
    width: 80%;
    height: 80%;
    right: 10%;
    top: 10%;
    border-radius: $circle;
}

.eye-left {
    position: absolute;
    background: pink;
    width: 30%;
    height: 30%;
    left: 20%;
    top: 25%;
    border-radius: $circle;
    z-index: 3;
}

.eye-right {
    position: absolute;
    background: pink;
    width: 30%;
    height: 30%;
    right: 20%;
    top: 25%;
    border-radius: $circle;
    z-index: 3;
}

.pupil {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    border-radius: $circle;
    background: yellow;
}

.nose {
    position: absolute;
    background: blueviolet;
    width: 20%;
    height: 30%;
    top: 40%;
    left: 40%;
    border-radius: $rounded-rectangle;
    z-index: 4;
}

.hair-left {
    position: absolute;
    width: 20%;
    height: 20%;
    top: -10%;
    left: 30%;
    background: orchid;
    z-index: 1;
    -webkit-clip-path: $triangle;
    clip-path: $triangle;
}

.hair-right {
    position: absolute;
    width: 20%;
    height: 20%;
    top: -5%;
    right: 30%;
    background: rgb(12, 20, 95);
    z-index: 1;
    -webkit-clip-path: $triangle;
    clip-path: $triangle;
}